*{
    margin: 0;
    padding: 0;
}

:root{
    --navbar-height: 59px;
}

#navbar{
    display: flex;
    align-items: center;
}

#logo{
    margin: 10px 34px;
}

#logo img{
    height: 56px;
    margin: 3px 6px;
}

#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;

}

#navbar ul li{
    list-style: none;
    font-size: 1.3em;
}

#heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    font-size: 60px;
    width: 400px;
    height: 400px;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
}
.two-buttons{
    position: absolute;
    width: 22%;
    margin: 40px auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: black;
    padding: 16px 30px;
    padding-top: 80px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-top: 3px;
    margin-left: 0px;
    display:flex;
    justify-content: space-between;
}
.two-buttons a{
    color: #fff;
    font-size: 16px;
    font-family: sans-serif;
    padding: 10px 45px;
    border-radius: 15px;
    border: 2px solid #fff;
}
#firstlink{
    background-color: green;
}
#firstlink:hover{
    opacity: .85;
    color: white;
}
#secondlink{
    background-color: green;
}
#secondlink:hover{
    opacity: .85;
    color: white;
}



