body{
    background-image: none;
}



@import 'https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet';

:root {
	--dk-gray-100: #F3F4F6;
	--dk-gray-200: #E5E7EB;
	--dk-gray-300: #D1D5DB;
	--dk-gray-400: #9CA3AF;
	--dk-gray-500: #6B7280;
	--dk-gray-600: #4B5563;
	--dk-gray-700: #374151;
	--dk-gray-800: #1F2937;
	--dk-gray-900: #111827;
	--dk-dark-bg: #313348;
	--dk-darker-bg: #2a2b3d;
	--navbar-bg-color: #6f6486;
	--sidebar-bg-color: #252636;
	--sidebar-width: 250px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input:focus, textarea:focus, select:focus{
    outline: none;
}
body {
	font-family: 'Inter', sans-serif;
	background-color: var(--dk-darker-bg);
	font-size: .925rem;
    height: 100%;
}

*::-webkit-scrollbar {
    display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/** --------------------------------
 -- Navbar
-------------------------------- */
.navbar-area .main-menu{
    z-index: 1;    
    transition: 0.6s;
    width: 100%;
}
.navbar-area .main-menu .navbar{
    padding: 0.8rem 2rem;	
    background-color: var(--navbar-bg-color) !important;
	border: none !important;
}

.navbar-area .main-menu .navbar .navbar-nav .nav-link{
    padding: 0;
    margin: 0;
    margin-left: 1em;
    font-size: 0.9em;
}

/* ================================= Content ============================ */
.content-area{
	background-color: var(--dk-darker-bg);
    height: 100%;
}
.admin-area .admin-container {
    margin-left: var(--sidebar-width);
}

/** --------------------------------
 -- Sidebar
-------------------------------- */
.sidebar {
	background-color: var(--sidebar-bg-color);
	width: var(--sidebar-width);
	transform: translateX(0);
	z-index: 1;
    
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    font: normal normal 500 1em/40px 'Inter', sans-serif;
}
.sidebar .sidebar-header {
	border-bottom: 2px solid #2a2b3c;
    padding: 2.4em 2em;
    line-height: 25px;

    display: flex;
}
.sidebar .sidebar-header img{
    border-radius: 50%;
    height: 48px;
    width: 48px;
}
.sidebar .sidebar-header .header-name{
    padding: 0;
    font-size: 1.2em;
    margin-left: 0.7em;
    font-weight: 400;
    color: #E5E7EB;
}
.sidebar .sidebar-header .header-name .subheader-name{
    font-weight: 300;
    font-size: 0.8em;
    color: #9CA3AF;
}
.sidebar .link{
    margin-top: 2em;
}
.sidebar .link i{
    padding-right: 1em; 
}
.sidebar .link a, .sidebar a{
    display: block;
	color: var(--dk-gray-400);
	text-decoration: none;
    font-weight: 400;
    font-size: 1em;
    padding: 0.5em 3em;
    cursor: pointer;
}
.sidebar .link a:hover, .sidebar a:hover{
    color: var(--dk-gray-200);
}
.sidebar .link .active{
    color: #e0e4e9;
}
.sidebar .link .active::after{
    color: #e0e4e9;
    content: "";
    height: 6px;
    width: 6px;
    border-radius: 50%;
    background: #ffffff;
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-1.3px);
}

.sidebar a{
    cursor: default;
}


/* ========= Start Content Area ============ */
.admin-area .admin-container .content-area{
    padding: 2em;
}


/* ======== Welcome ========== */
.welcome {
	color: var(--dk-gray-300);
}

.welcome .content {
	background-color: var(--dk-dark-bg);
}

.welcome p {
	color: var(--dk-gray-400);
}


/* ======== orders page ========== */

.orders {
    margin: 2em 0;
	background-color: var(--dk-dark-bg);
	color: var(--dk-gray-300);
    font-weight: 500;
}

/* order table */
#orders-table{
    border-collapse: separate;
    border-spacing: 0 0.7em;
    cursor: default;
}
#orders-table thead{
    border-bottom: 2px solid #6f648644;
}
#orders-table thead tr th{
    border-collapse: collapse;
    border-bottom: 2px solid #6f648644;
    padding: 1em;
}
#orders-table tbody tr{
    background: #6f64861e;
    font-weight: 300;
}
#orders-table tbody tr:hover{
    background: #6f64862d;
}
#orders-table tbody tr td{
    padding: 1em;    
}

#orders-table tbody tr td a{
    text-decoration:none;
    padding: 0.4em 0.9em;    
    font-size: 0.9em;
    border-style: none;
    border-radius: 4px;
    background: #2b7a57;
    color: #ffffff;
    font-weight: 500;
    outline: none;
    cursor: pointer;
}
#orders-table tbody tr td a:hover{
    background: #338e65;
}

#orders-table tbody tr td .order-yes{
    font-size: 1.1em;
    color: #2397718f;
    padding: 0.2em;
}
#orders-table tbody tr td .order-yes:hover{
    color: #18be87;
}
#orders-table tbody tr td .order-no{
    font-size: 1.1em;
    padding: 0.2em;
    padding-left: 1em;
    color: #ff50508f;
    margin-left: -4px;
}
#orders-table tbody tr td .order-no:hover{
    color: #ff5c5c;
}

.orders .title{
    margin-bottom: 0.5em;
}

.orders p {
	color: var(--dk-gray-400);
}


/* ================ Start Add new item ============= */

#pg-add-items .add-new-item-form{
    background: #2a2b3da2;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
}
#pg-add-items .add-new-item-form .add-image{
    
}
#pg-add-items .add-new-item-form .add-image .img-placeholder{
    background: #252636;
    height: 190px;
    width: 313.5px;
    text-align: center;
    line-height: 180px;
    font-size: 3em;
    margin-top: -15px;
    overflow: auto;
    position: relative;
    border: 2px solid #3f4269;
}


#pg-add-items .add-new-item-form .add-image .img-placeholder #output{
    position: absolute;
    width: 285px;
    top: 13px;
    left: 12px;
    opacity: 1;
}

#pg-add-items .add-new-item-form .add-info .form-button{
    padding: 0.4em 2em;
    border-style: none;
    border-radius: 3px;
    background: #6f6486;
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
    margin-right: 0.7em;
}
#pg-add-items .add-new-item-form .add-info .form-button:hover{
    padding: 0.4em 2em;
    border-style: none;
    border-radius: 3px;
    background: #8071a1;
    color: #ffffff;
    font-weight: 500;
    font-size: 1em;
    margin-right: 0.7em;
}

#pg-add-items .add-new-item-form .add-info {
    padding-left: 2em;
    padding-top: 1em;
}
#pg-add-items .add-new-item-form .add-info .input-group{
    margin-bottom: 0.8em;
}
#pg-add-items .add-new-item-form .add-info .input-group .add-item-inpt{
    padding: 0.2em 0em;
    font-size: 1.1em;
    color: #ffffffd8;
    background:transparent;
    border-style: none;
    border-bottom: 2px solid #3f4269;
}
#pg-add-items .add-new-item-form .add-info .input-group .add-item-inpt::placeholder{
    color: #63668d85;

}






/* ================ End Add new item ============= */

/* ============ Footer ============ */
.footer-area{
    margin-top: 0;
    width: 100%;
    background-color: #5f409b;
    font-weight: 300;
    font-size: 12px;
    position: relative;
    top: 100px;
}


/* ================== cart Modal ==================== */

.orders-modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #100e13cc;
    z-index: 40;
    top: 0;
    right: 0;
}
.orders-modal .modal-body{
    
    background: var(--dk-dark-bg);
    margin: 5em 30vw;
    border-radius: 7px;
    color: #ececec;
    padding: 2.5em 2.5em;
    z-index: 30;
    position: relative;
}

.orders-modal .modal-body .title{
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.5px;
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 0.3em;
}

.orders-modal .modal-body .cross{
    display: inline-block;
    position:absolute;
    top: 0%;
    right: 0%;
    padding: 0.4em 0.8em;
    font-size: 1.5em;
}
.orders-modal .modal-body .cross a{
    cursor: pointer;
    color: #6f6486;
}
.orders-modal .modal-body .cross a:hover{
    color: #998abb;
}

.orders-modal .modal-body .modal-items{
    margin-bottom: 1.5em;
    height: 19.5em;
    overflow:auto;
    padding: 0 0.5em;
}
.orders-modal .modal-body .modal-items::-webkit-scrollbar {
    display: initial;
    width: 7px;
}
.orders-modal .modal-body .modal-items::-webkit-scrollbar-track {
    background: #2a2b3c;
    border-radius: 10px;
}
.orders-modal .modal-body .modal-items::-webkit-scrollbar-thumb  {
    border-radius: 10px;
    background: #6f64864f;
}
.orders-modal .modal-body .modal-items::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: #6f648698;
}


.orders-modal .modal-body .heading{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: none;
    margin-bottom: 0.5em;
    padding: 1em;
    border-radius: 5px;
    margin-top: 0.5em;
    padding-right: 2em;
}
.orders-modal .modal-body .heading div{
    text-align: center;
    font-weight: 500;
    color: var(--dk-gray-400);
}
hr.head-hr{
    margin-top: -6px;
    margin-bottom: 25px;
}



.orders-modal .modal-body .modal-items .item{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #6f64861e;
    margin-bottom: 0.5em;
    padding: 1em;
    border-radius: 5px;
    cursor: default;
}
.orders-modal .modal-body .modal-items .item:hover{

    background: #6f64862d;

}

.orders-modal .modal-body .modal-items .item div{
    text-align: center;
    font-weight: 100;
}


.orders-modal .modal-body .button .title{
    text-align: center; 
    margin-top: 0;
}   
.orders-modal .modal-body .button .title div{
    font-size: 1em;
    font-weight: 300;
    text-align: center; 
    display: inline;
    color: #a7a7a7;
}
.orders-modal .modal-body .button .title .total-amount{
    font-weight: 700;
    color: #dfdfdf;
}
.orders-modal .modal-body .button .actions{
    text-align: center;
    font-size: 1em; 
    margin-top: 1.5em;
    font-weight: 300;
}
.orders-modal .modal-body .button .actions a{
    text-decoration: none;
    padding: 0.5em 1.3em;
    border-style: solid;
    border-width: 3px;
    border-radius: 30px;
    margin: 0 0.5em;
    transition: background 0.2s ease;
}
.orders-modal .modal-body .button .actions a i{
    padding-right: 0.5em;
}
.orders-modal .modal-body .button .actions .accept{
    color: #ffffff;
    background: #1f926cbe;
    border-color: #1f926c;
}
.orders-modal .modal-body .button .actions .decline{
    color: #ffffff;
    background: #ff5c5cc5;
    border-color: #ff5c5c;
}
.orders-modal .modal-body .button .actions .accept:hover{
    background: #1f926c;
}
.orders-modal .modal-body .button .actions .decline:hover{
    background: #ff5c5c;
}

