:root{
    --primary-color: #7e59d4;
    --secondary-color: #5f409b;
    --text-color: #fff;
    --text-color-2: #ffffffbb;
    --button-color-1: #433f72;
    --button-color-2: #4d4885;
    --link-color-1: #7a72ce;
    --link-color-2: #9087f3;
    --poppins: 'Poppins', sans-serif;
    --box-shadow: 0px 5px 3px rgba(168, 86, 35, 0.521);

    --background-color: #2a2b3d;
}