body{
    background-image: none;
    overflow: hidden;
    background: #2a2b3d;
}

.register-area .container{
    padding: 3rem 15rem;
    margin-top: -5rem;
}
.register-area .container .login-card{
    background: #313348;
    border-radius: 15px;
}

.register-area .card-body .header{
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}

.register-area .card-body .form-group{
    margin-right: 10rem;
    margin-bottom: 1rem;
}

.register-area .card-body .form-group .form-control{
    height: 2.6rem;
    width: 27rem;
    /* background: transparent; */
}

.register-area .card-body .register-button{
    text-decoration: none;
    color: #4d4885;
    padding: 0.7rem 2.5rem;
    background: var(--button-color-1);
    border-radius: 6px;
    border-width: 0px;
    border-style: solid;
    transition: background 0.2s ease;
    margin-top: 10rem;
    font-size: 1.3rem;
    font-weight: 600;
    
}

.login-button{
    text-decoration: none;
    color: var(--text-color);
    padding: 0.7rem 2.5rem;
    background: #433f72;
    border-radius: 6px;
    border-width: 0px;
    border-style: solid;
    transition: background 0.2s ease;
    margin-top: 1.2rem;
    font-weight: 600;
    font-size: 1.3rem;
}
.login-button:hover{
    background: #4d4885;
}
.register-area .card-body .register-button:hover{
    background: #4d4885;
}

.register-area .card-body{
    padding-left: 5rem;
}

.register-area .card-body .register-card-footer-text{
    margin-top: 2em;
    color: var(--text-color-2);
    font-weight: 300;
    font-size: .9rem;
}

.register-area .card-body .register-card-footer-text .text-login{
    color: var(--link-color-1);
    text-decoration: none;
    transition: color 0.2s ease;
    cursor: pointer;
}

.register-area .card-body .register-card-footer-text .text-login:hover{
    color: var(--link-color-2);
}

.register-area .register-card-img{
    height: 70%;
    margin-top: 5rem;    
}